<main>
  <form [formGroup]="formCalculator"
    (ngSubmit)="calculateAge()">
    <section class="date_input_section">
      <section class='date_input_section_elem'>
        <label> DAY </label>
        <input formControlName="day"
          type='number'
          placeholder="DD"
          class='input_e' />
        <p class='message'
          [hidden]="day?.valid || day?.pristine">
          Must be a valid day
        </p>

      </section>
      <section class='date_input_section_elem'>
        <label> MONTH </label>
        <input formControlName="month"
          type='number'
          placeholder="MM"
          class='input_e'/>
        <p class='message'
          [hidden]="month?.valid || month?.pristine">
          Must be a valid month
        </p>
      </section>
      <section class='date_input_section_elem'>
        <label> YEAR</label>
        <input formControlName="year"
          type='number'
          placeholder="YYYY"
          class='input_e'/>
        <p class='message'
          [hidden]="year?.valid || year?.pristine">
          Must be in the past
        </p>
      </section>
    </section>

    <section id='process_section'>
      <div id='process_section_random_div'> </div>
      <div id='process_section_button'>
        <button class="svg-button"
          [disabled]="formCalculator.invalid">
          <svg xmlns="http://www.w3.org/2000/svg" width="46" height="44" viewBox="0 0 46 44"><g fill="none" stroke="#FFF" stroke-width="2"><path d="M1 22.019C8.333 21.686 23 25.616 23 44M23 44V0M45 22.019C37.667 21.686 23 25.616 23 44"/></g></svg>
        </button>
      </div>
    </section>
  </form>

   <section id='display_section'>
    <p class='display_section_elem'> <b class='n'> {{ageYears || "--"}} </b> years </p>
    <p class='display_section_elem'> <b class='n'> {{ageMonths || "--"}} </b> months </p>
    <p class='display_section_elem'> <b class='n'> {{ageDays || "--"}} </b> days </p>
  </section>
</main>

