<main>
  <!-- Date input segement-->
  <section class="date_input_section">
    <section class='date_input_section_elem'>
      <label> DAY </label>
      <input type='text' placeholder="DD" class='input_e' />
      <p class='message'>Must be a valid day </p>

    </section>
    <section class='date_input_section_elem'>
      <label> MONTH </label>
      <input type='text' placeholder="MM"  class='input_e'/>
      <p class='message'>Must be a valid month </p>
    </section>
    <section class='date_input_section_elem'>
      <label> YEAR</label>
      <input type='text' placeholder="YYYY" class='input_e'/>
      <p class='message'>Must be in the past </p>
    </section>
  </section>

  <!-- Processing stage -->
  <section id='process_section'>
    <div id='process_section_random_div'> </div>
    <div id='process_section_button'>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="44" viewBox="0 0 46 44"><g fill="none" stroke="#FFF" stroke-width="2"><path d="M1 22.019C8.333 21.686 23 25.616 23 44M23 44V0M45 22.019C37.667 21.686 23 25.616 23 44"/></g></svg>
    </div>
  </section>

   <!-- Display section-->
   <section id='display_section'>
    <p class='display_section_elem'> <b class='n'> -- </b> years </p>
    <p class='display_section_elem'> <b class='n'> -- </b> months </p>
    <p class='display_section_elem'> <b class='n'> -- </b> days </p>
  </section>



</main>
