* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins_regular;
  width: 100%;
  height: 100vh;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
}

main {
  background: #fff;
  width: 700px;
  height: 550px;
  border-radius: 20px 20px 60px 20px;
}

.date_input_section{
  display: flex;
  height: 30%;
  display: flex;
  align-items: center;
  padding: 3rem 3rem 1rem 3rem;
}

.date_input_section_elem{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 2% 2% 0;
}

.date_input_section_elem label {
  font-size: 0.7rem;
  font-weight: 400;
  font-family: poppins_bold;
  color: #868686;
  letter-spacing: 5px;
}
.date_input_section_elem input {
  margin-top: 5px;
  width: 120px;
  height: 50px;
  border: 1px solid #ddd9d9;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: poppins_bold;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.date_input_section_elem input:focus {
  border: 1px solid #864CFF;
}

.date_input_section_elem .message {
  font-family: poppins_regular_i;
  font-size: 0.7rem;
  color: red;
  position: relative;
  padding: 1rem 0 0 0;
}

.date_input_section .input-error {
  border: 1px solid red;
}
.date_input_section .text-error {
  color: red;
}

.display_section{
  display: flex;
}

#process_section {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
#process_section_random_div {
  height: 1px;
  width: 75%;
  background-color: lightgray;
  margin: 15px 0px 0 40px;
}
#process_section_button {
  width: 80px;
  height: 80px;
  position: relative;
  bottom: 30px;
  border-radius: 80px;
  background-color: #864CFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#process_section_button:hover {
  background-color: #141414;
}
#display_section {
  height: 60%;
  padding: 1rem;
}
#display_section .display_section_elem {
  font-family: poppins_bold_italic;
  font-size: 3.5rem;
  padding: 0 20px;
}
#display_section .display_section_elem b {
  color: #864CFF;
}
@media only screen and (max-width: 700px) {
  #process_section {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #process_section_random_div {
    height: 1px;
    width: 75%;
    background-color: lightgray;
    margin: 15px 0px 0 40px;
    position: absolute;
  }
  #process_section_button {
    width: 80px;
    height: 80px;
    bottom: 30px;
    border-radius: 80px;
    background-color: #864CFF;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #process_section_button:hover {
    background-color: #141414;
  }
}
@media only screen and (max-width: 700px) {
  #display_section {
    border: 1px solid transparent;
    height: 60%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #display_section .display_section_elem {
    font-family: poppins_bold_italic;
    font-size: 3.5rem;
    padding: 0 20px;
  }
  #display_section .display_section_elem b {
    color: #864CFF;
  }
}
@media only screen and (max-width: 700px) {
  .date_input_section {
    border: 1px solid transparent;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 3rem 1rem 3rem;
  }
  .date_input_section_elem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 2% 2% 0;
    border: 1px solid transparent;
  }
  .date_input_section_elem label {
    font-size: 0.7rem;
    font-weight: 400;
    font-family: poppins_bold;
    color: #868686;
    letter-spacing: 5px;
  }
  .date_input_section_elem input {
    margin-top: 5px;
    width: 120px;
    height: 50px;
    border: none;
    border: 1px solid #ddd9d9;
    border-radius: 5px;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: poppins_bold;
    font-weight: 700;
    outline: none;
    cursor: pointer;
  }
  .date_input_section_elem input:focus {
    border: 1px solid #864CFF;
  }
  .date_input_section_elem .message {
    font-family: poppins_regular_i;
    font-size: 0.7rem;
    color: red;
    position: relative;
    padding: 1rem 0 0 0;
    border: 1px solid transparent;
  }
}
.svg-button{
  background: none;
  border: none;
}
